main.tab.addProduct table#table-1 {
    background-color: #CCCCFF;
    border: 2px solid black;
    text-align: center;
}
main.tab.addProduct table#table-1 h4 {
  color: red;
  display: block;
  margin-bottom: 1px;
}
main.tab.addProduct h4 {
  color: blue;
  display: inline;
}

main.tab.addProduct table {
    width: 880px;
    margin-top: 0.1px;
    margin-bottom: 1px;
}
main.tab.addProduct table, th, td {
  border: 0px solid #CCCCFF;
}
main.tab.addProduct th, td {
  margin : 0.3rem;
  padding: 1px;
}
main.tab.addProduct label{
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;
}
main.tab.addProduct input {
  border-radius: 15px;
  padding: .5rem;
  border: none;
  outline: none;
}
main.tab.addProduct input.las:hover{
  cursor: pointer;
  background-color: rgb(197, 238, 169);
}